<%- include("partials/header") %>

<form action="/create-post-form" method="GET">
  <button class="add-post-btn">+ New</button>
</form>

<div class="posts-container">
  <% if (posts.length === 0) { %>
    <p>No posts yet!</p>
  <% } else { %>
    <% posts.forEach(post => { %>
      <div class="post-card">
        <% if (post.imageUrl) { %>
          <img src="<%= post.imageUrl %>" alt="<%= post.title %>" />
        <% } %>
        <div class="post-meta">
          <span class="author-name"><%= post.authorName || 'Unknown' %></span>
          <span class="dot">•</span>
          <span class="publish-date"><%= new Date(post.publishDate).toLocaleDateString() %></span>
        </div>
        <h3><%= post.title %></h3>
        <p>
          <%= post.description.split(/\s+/).slice(0, 15).join(" ") %>
          <% if (post.description.split(/\s+/).length > 15) { %>
            <span class="ellipsis">...</span>
          <% } %>
        </p>


      </div>
    <% }) %>
  <% } %>
</div>

<%- include("partials/footer") %>
